<div class="row">

  <div class="col-md-12">
    <p id="radius-header">Радиус поиска:</p>
    <div class="range range-primary ">
      <input type="range" name="range" min="0" max="10000" [(ngModel)]="radius" onchange="range.value=value">
      <output id="range">{{radius}}</output>
    </div>
  </div>
</div>
<div class="row map">
  <div class="col-md-12">
    <app-map [radius]="radius" (places)="getPlaces($event)"></app-map>
  </div>
</div>
<ul>
  <li *ngFor="let place of getCheckPlaces">
    <p><input type="checkbox">Название: {{place?.name}}<br/>Адрес: {{place?.address}}</p>
  </li>
</ul>

