<div class="row component-row">
  <div class="center_div">
    <div class="col-md-5 col-md-offset-1">
      <form #statsForm="ngForm" class="stats_form">
        <div class="row">
          <div class="col-md-7"><label class="stats field">Всего чеков пользователя: </label>
            {{totalChecks}}
          </div>
          <div class="col-md-7"><label class="stats field">Минимальная сумма чека: </label>
            {{minTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Максимальная сумма чека: </label>
            {{maxTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Средняя сумма чека (медиана): </label>
            {{medTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Всего чеков в системе: </label>
            {{totalChecksAll}}
          </div>
          <div class="col-md-7 col-md-offset-1"><label class="stats field">На сумму: </label>
            {{totalSumAll}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
