<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<header class="clearfix">
  <div class="container">
    <div class="header-left">
      <h1>Title</h1>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open">
      <nav>
        <a class="dropdown main-menu-item link" routerLink="user-operations" routerLinkActive="active">
          Операции пользователя
          <ul class="dropdown-menu">
            <li><a routerLink="user-operations/check-operations/add-check" routerLinkActive="active">Добавление чека</a>
            </li>
            <li><a routerLink="user-operations/check-operations/show-check" routerLinkActive="active">Просмотр чека</a>
            </li>
          </ul>
        </a>
        <a class="link" routerLink="user-operations/statistics" routerLinkActive="active">Статистика</a>
        <a class="link" routerLink="login" routerLinkActive="active">{{title}}</a>
      </nav>
    </div>
  </div>
</header>

<div>
  <router-outlet id="router"></router-outlet>
</div>
