
<div class="row component-row">
  <div class="col-xs-5 col-xs-offset-1">
    <ol class="square">
      <div class="panel-group big-panel scrollbar-cyan bordered-cyan card example-1 square" id="accordion">
        <ul class="show-check" *ngFor="let data of getCheckData | orderBy : 'dateTime'">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class="row">
                  <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" (click)="onToggle(data)">
                    <div class="col-xs-6"> Дата: {{data?.dateTime | date: 'H:mm  d.M.yy'}}</div>
                    <div class="col-xs-6 sum"> Сумма: {{data?.totalSum}}</div>
                    <div class="col-xs-12"> Количество товаров в чеке: {{data?.items.length}}</div>
                    <div class="col-xs-12" *ngIf="data?.place">Место покупки: {{data?.place}}</div>
                  </div>
                </div>
              </h4>
            </div>
            <div id="collapseOne" [style.display]="data.selected===true?'block':'none'">
              <app-show-check [check]="data"></app-show-check>
            </div>
          </div>
        </ul>
      </div>
    </ol>
  </div>
</div>


